header.header
  a(href="/").header__logo: include ./../../images/logo.svg
  nav.header__nav
    a(href="").header__nav-link Мои курсы
    a(href="").header__nav-link Задания и оценки
    a(href="").header__nav-link Расписание вебинаров
  nav.header__ui
    a(href="").header__ui-link: include ./../../images/bell.svg
    div.dropdown.header__ui-link
      button(type="button"): include ./../../images/user.svg



    button(type="button").header__burger: include ./../../images/burger.svg
