.notification
  h4 Чтобы приступить к обучению
  ul.notification__list
    li.notification__item Загрузите документы для подготовки оферты
    li.notification__item Ознакомьтесь с офертой и согласитесь с её условиями
    li.notification__item Оплатите обучение в разделе «Платежи»
    li.notification__item Согласитесь с условиями остальных документов
    li.notification__item Распечатайте документы, подпишите и загрузите в личный кабинет
