.share
  p Поделиться ссылкой в социальных сетях:
  a(href="#").share__link: include ./../../images/soc/fb.svg
  a(href="#").share__link: include ./../../images/soc/wh.svg
  a(href="#").share__link: include ./../../images/soc/tg.svg
