include components/_nav
include components/_load
include components/_remove
include components/_status

doctype html
html.no-js(lang='ru')
  include components/_head
  body
    include components/_header
    main
      .wrapper
        h1 Кабинет студента
      +nav([{text: "Настройки профиля"}, {text: "Документы", className:"nav__link_active"}, {text: "Платежи", className:"nav__link_warm"}])
      .wrapper.wrapper_page
        article.docs
          .notification.docs__notification
            h4 Чтобы приступить к обучению
            ul.notification__list.notification__list_progressed
              li.notification__item.notification__item_done
                img(src="./images/tick.svg", alt="")
                | Загрузите документы для подготовки оферты
              li.notification__item.notification__item_done
                img(src="./images/tick.svg", alt="")
                | Ознакомьтесь с офертой и согласитесь с её условиями
              li.notification__item.notification__item_done
                img(src="./images/tick.svg", alt="")
                | Оплатите обучение <a href="#" class="underline">в разделе «Платежи»</a>
              li.notification__item.notification__item_done
                img(src="./images/tick.svg", alt="")
                | Согласитесь с условиями остальных документов
              li.notification__item Распечатайте документы, подпишите и загрузите в личный кабинет
          section.docs__agreement
            header.docs__header
              h2 Согласие с условиями
              p Чтобы начать процесс зачисления без полного пакета документов, нам нужно ваше электронное согласие. Ознакомьтесь с документами и нажмите «Согласиться», если принимаете условия. После принятия оферты, менеджер выставит остальные документы и откроется раздел с платежами.
            .doc.doc_acceptable
              a(href="#" download).doc__title.doc__title_link.cutted-text: span.doc__title-inner Оферта
              .doc__load: +status({text: "Вы согласны"})
            .doc.doc_acceptable
              a(href="#" download).doc__title.doc__title_link.cutted-text: span.doc__title-inner Дополнительное соглашение к оферте
              .doc__load: +status({text: "Вы согласны"})
            .doc.doc_acceptable
              a(href="#" download).doc__title.doc__title_link.cutted-text: span.doc__title-inner Согласие на обработку персональных данных
              .doc__load: +status({text: "Вы согласны"})
            .doc.doc_acceptable
              a(href="#" download).doc__title.doc__title_link.cutted-text: span.doc__title-inner Заявление на обучение
              .doc__load: +status({text: "Вы согласны"})
            .doc.doc_acceptable
              a(href="#" download).doc__title.doc__title_link.cutted-text: span.doc__title-inner Соглашение о неразглашении
              .doc__load: +status({text: "Вы согласны"})

          header.docs__header
            h2 Документы для зачисления
            p Загрузите подписанные сканы или фотографии документов. При загрузке фотографий, убедитесь, что документы сфотографированы ровно, текст разборчивый, а в кадре нет посторонних предметов. Для подписи используйте <span class="accent-text">синюю ручку.</span>
          .docs__main
            .doc
              .doc__title.cutted-text: span.doc__title-inner Документ, удостоверяющий личность
              .doc__main
                .doc__file
                  .doc__file-text
                    span.cutted-text pervaya_stranitsa_pasporta
                    span .jpg
                .doc__file
                  .doc__file-text
                    span.cutted-text stranitsa_pasporta_s_propiskoy_s_ochen_dlinnym_nazvaniem
                    span .jpg
              .doc__load: +status({text: "Принято"})
            .doc
              .doc__title.cutted-text: span.doc__title-inner <span class="upp">Снилс</span>
              .doc__main: .doc__file 662-985-436 89
              .doc__load: +status({text: "Принято"})
            .doc
              .doc__title.cutted-text: span.doc__title-inner Оферта
              .doc__main: .doc__file
                .doc__file-text
                  span.cutted-text ЭЦП_Оферта_Среда_№21-ФЯ-00089
                  span .jpeg
              .doc__load: +load
              .doc__main-extra.doc__main-extra_spanned: p.err-message Документ подписан чёрной ручкой. Пришлите изображение документа, подписанного синей ручкой
            .doc
              .doc__title.cutted-text: span.doc__title-inner Дополнительное соглашение к оферте
              .doc__main: .doc__file
                .doc__file-text
                  span.cutted-text Дополнительное_соглашение_ЭЦП_Оферта_Среда_№21-ФЯ-
                  span .jpeg
              .doc__load: +status({text: "Принято"})
            .doc
              .doc__title.cutted-text: span.doc__title-inner Согласие на обработку персональных данных
              .doc__main: .doc__file
                .doc__file-text
                  span.cutted-text СогласиеНаОПД_обучающийся_Среда_№_21-ФЯ-00089
                  span .jpeg
              .doc__load: +status({text: "Принято"})
            .doc
              .doc__title.cutted-text: span.doc__title-inner Заявление на обучение
              .doc__main: .doc__file
                .doc__file-text
                  span.cutted-text ЗаявлениеНаОбучение_Среда_№_21-ФЯ-00089
                  span .tiff
              .doc__load: +load
              .doc__main-extra.doc__main-extra_spanned: p.err-message Недостаточный размер изображения. Пришлите изображение не меньше 1000 на 1000 пикселей
            .doc
              .doc__title.cutted-text: span.doc__title-inner Соглашение о неразглашении
              .doc__main: .doc__file
                .doc__file-text
                  span.cutted-text Соглашение_о_неразглашении_обучающийся_Среда_№_21-…
                  span .jpeg
              .doc__load: +status({text: "Принято"})
            .doc
              .doc__title.cutted-text: span.doc__title-inner Документ об образовании
              .doc__main: .doc__file
                .doc__file-text
                  span.cutted-text КопияДиплома_Скан_для_Среды
                  span .jpeg
              .doc__load: +load
              .doc__main-extra.doc__main-extra_spanned: p.err-message На фотографии присутствуют посторонние предметы. Пришлите изображение диплома на однородном фоне. Важно, чтобы пальцы не закрывали содержимое документа
            .doc
              .doc__title.cutted-text: span.doc__title-inner Фотография 3×4
              .doc__main: .doc__file
                .doc__file-text
                  span.cutted-text Фотография_3х4
                  span .jpeg
              .doc__load: +status({text: "Принято"})
          button(type="button").btn.docs__send-btn Отправить на проверку
          p.docs__subscription Менеджер проверит документы в течение двух рабочих дней
    include components/_footer
