include components/_nav
include components/_load
include components/_remove
include components/_status

doctype html
html.no-js(lang='ru')
  include components/_head
  body
    include components/_header
    main
      .wrapper
        h1 Кабинет студента
      +nav([{text: "Настройки профиля"}, {text: "Документы", className:"nav__link_active"}, {text: "Платежи"}])
      .wrapper.wrapper_page
        article.docs
          .notification.notification_dark.docs__notification
            .notification__conclusion
              h3.notification__title Документы приняты, вы зачислены
              a(href="#").btn Начать учиться
          section.docs__agreement
            h2 Согласие с&nbsp;условиями
            .doc.doc_acceptable
              a(href="#" download).doc__title.doc__title_link.cutted-text: span.doc__title-inner Оферта
              .doc__load: +status({text: "Вы согласны"})
            .doc.doc_acceptable
              a(href="#" download).doc__title.doc__title_link.cutted-text: span.doc__title-inner Дополнительное соглашение к оферте
              .doc__load: +status({text: "Вы согласны"})
            .doc.doc_acceptable
              a(href="#" download).doc__title.doc__title_link.cutted-text: span.doc__title-inner Согласие на обработку персональных данных
              .doc__load: +status({text: "Вы согласны"})
            .doc.doc_acceptable
              a(href="#" download).doc__title.doc__title_link.cutted-text: span.doc__title-inner Заявление на обучение
              .doc__load: +status({text: "Вы согласны"})
            .doc.doc_acceptable
              a(href="#" download).doc__title.doc__title_link.cutted-text: span.doc__title-inner Соглашение о неразглашении
              .doc__load: +status({text: "Вы согласны"})

          h2 Документы для&nbsp;зачисления
          .docs__main
            .doc
              .doc__title.cutted-text: span.doc__title-inner Документ, удостоверяющий личность
              .doc__main
                .doc__file
                  .doc__file-text
                    span.cutted-text pervaya_stranitsa_pasporta
                    span .jpg
                .doc__file
                  .doc__file-text
                    span.cutted-text stranitsa_pasporta_s_propiskoy_s_ochen_dlinnym_nazvaniem
                    span .jpg
              .doc__load: +status({text: "Принято"})
            .doc
              .doc__title.cutted-text: span.doc__title-inner <span class="upp">Снилс</span>
              .doc__main: .doc__file 662-985-436 89
              .doc__load: +status({text: "Принято"})
            .doc
              .doc__title.cutted-text: span.doc__title-inner Оферта
              .doc__main: .doc__file
                .doc__file-text
                  span.cutted-text ЭЦП_Оферта_Среда_№21-ФЯ-00089
                  span .jpeg
              .doc__load: +status({text: "Принято"})
            .doc
              .doc__title.cutted-text: span.doc__title-inner Дополнительное соглашение к оферте
              .doc__main: .doc__file
                .doc__file-text
                  span.cutted-text Дополнительное_соглашение_ЭЦП_Оферта_Среда_№21-ФЯ-
                  span .jpeg
              .doc__load: +status({text: "Принято"})
            .doc
              .doc__title.cutted-text: span.doc__title-inner Согласие на обработку персональных данных
              .doc__main: .doc__file
                .doc__file-text
                  span.cutted-text СогласиеНаОПД_обучающийся_Среда_№_21-ФЯ-00089
                  span .jpeg
              .doc__load: +status({text: "Принято"})
            .doc
              .doc__title.cutted-text: span.doc__title-inner Заявление на обучение
              .doc__main: .doc__file
                .doc__file-text
                  span.cutted-text ЗаявлениеНаОбучение_Среда_№_21-ФЯ-00089
                  span .tiff
              .doc__load: +status({text: "Принято"})
            .doc
              .doc__title.cutted-text: span.doc__title-inner Соглашение о неразглашении
              .doc__main: .doc__file
                .doc__file-text
                  span.cutted-text Соглашение_о_неразглашении_обучающийся_Среда_№_21-…
                  span .jpeg
              .doc__load: +status({text: "Принято"})
            .doc
              .doc__title.cutted-text: span.doc__title-inner Документ об образовании
              .doc__main: .doc__file
                .doc__file-text
                  span.cutted-text КопияДиплома_Скан_для_Среды
                  span .jpeg
              .doc__load: +status({text: "Принято"})
            .doc
              .doc__title.cutted-text: span.doc__title-inner Фотография 3×4
              .doc__main: .doc__file
                .doc__file-text
                  span.cutted-text Фотография_3х4
                  span .jpeg
              .doc__load: +status({text: "Принято"})
          button(type="button").btn.docs__send-btn Отправить на проверку
          p.docs__subscription Менеджер проверит документы в течение двух рабочих дней
    include components/_footer
