include components/_nav
include components/_load
include components/_remove

doctype html
html.no-js(lang='ru')
  include components/_head
  body
    main.wrapper
      h1 Готовые страницы
      ol
        li(style="margin-bottom: 12px"): a(href="cab1.html") Кабинет студента (документы): 1 ряд макетов
        li(style="margin-bottom: 12px"): a(href="cab1-err.html") Кабинет студента (документы) с ошибками: 1 ряд
        li(style="margin-bottom: 12px"): a(href="cab2.html") Кабинет студента (документы приняты, оферта выставлена): 2 ряд
        li(style="margin-bottom: 12px"): a(href="settings.html") Профиль, настройки: 2 ряд
        li(style="margin-bottom: 12px"): a(href="cab3.html") Кабинет студента (оферта подписана): 3 ряд
        li(style="margin-bottom: 12px"): a(href="cab4.html") Кабинет студента (Приняты не все документы): 4 ряд
        li(style="margin-bottom: 12px"): a(href="cab5.html") Кабинет студента (Документы приняты): 5 ряд
        li(style="margin-bottom: 12px"): a(href="payments.html") Платежи
        li(style="margin-bottom: 12px"): a(href="presents.html") Подарки
        li(style="margin-bottom: 12px"): a(href="login.html") Авторизация
        li(style="margin-bottom: 12px"): a(href="login-by-sms.html") Авторизация по смс
        li(style="margin-bottom: 12px"): a(href="cab-mult.html") Кабинет студента: несколько факультетов
        li(style="margin-bottom: 12px"): a(href="cab-mult-modal.html") Кабинет студента: модалка
