.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: $btn-bg;
    color: $btn-color;
    border-radius: $btn-radius;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.334;
    padding: 0 32px;
    height: 56px;
    transition: border-color 0.3s ease, color 0.3s ease,
        background-color 0.3s ease;

    &:hover {
        background-color: $btn-bg-hover;
    }

    &:disabled,
    &.disabled {
        background-color: $btn-disabled-bg;
        color: $btn-disabled-color;
        cursor: default;
        pointer-events: none;

        &:focus {
            outline: none;
        }
    }

    &_hollow {
        background-color: transparent;
        border: 1px solid $btn-bg;
        padding-top: 15px;
        padding-bottom: 15px;
        &:hover {
            border-color: transparent;
            color: $btn-color-hollow-hover;
            background-color: $btn-bg-hollow-hover;
        }

        &.btn_sm {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    &_sm {
        padding: 0 21px;
        height: 48px;
        font-size: 16px;
    }

    @include md {
        font-size: 14px;
        padding: 0 24px;
        height: 44px;

        &_sm {
            padding: 0 16px;
            font-size: 12px;
            height: 36px;
        }
    }
}
