.doc {
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    padding: 32px 0;
    min-height: 88px;
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 3fr) minmax(0, 1fr);
    grid-template-areas: "title main load";
    grid-auto-rows: auto;
    grid-gap: 0 24px;
    align-items: start;
    align-content: center;
    line-height: 1.5;

    & + & {
        border-top: none;
    }

    &_aligned {
        align-items: center;
        padding: 20px 0;
        grid-template-areas:
            "title main load"
            ". extraMain .";
    }

    &_acceptable {
        padding: 20px 0;
        align-items: center;
        grid-template-columns: minmax(0, 2.5fr) minmax(0, 2.5fr) minmax(
                auto,
                1fr
            );
    }

    &__main {
        grid-area: main;
        overflow: hidden;
    }

    &__title {
        grid-area: title;

        &_link {
            .doc__title-inner {
                @extend .underline;
            }
        }

        &:hover {
            grid-column: 1 / span 2;
            overflow: visible;
            z-index: 10;
            .doc__title-inner {
                background-color: #fff;
                display: inline-block;
                padding-right: 20px;
                position: relative;

                &::before,
                &::after {
                    position: absolute;
                    height: 15px;
                    background-color: #fff;
                    content: "";
                    left: 0;
                    width: 100%;
                }

                &::before {
                    bottom: 100%;
                }
                &::after {
                    top: 100%;
                }
            }
        }
    }

    &__action {
        display: flex;
        align-items: center;
        margin-right: 40px;
        transition: opacity 0.3s ease;
        img {
            margin-right: 6px;
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            opacity: 0.7;
        }
    }

    &__file {
        display: flex;
        color: #999999;
        align-items: center;
        & + & {
            margin-top: 16px;
        }
    }

    &__file-text {
        display: flex;
        flex-grow: 0;
        margin-right: 8px;
        min-width: 0;
    }

    &__load {
        grid-area: load;
        justify-self: end;
    }

    &__snils {
        width: 172px;
    }

    &__main-extra {
        grid-area: extraMain;

        .err-message {
            margin-top: 16px;
        }

        &_spanned {
            grid-column: 1 / span 2;
        }
    }

    @include xlg {
        &__action {
            margin-right: 20px;
        }
    }

    @include lg {
        grid-template-columns: minmax(0, 3fr) minmax(auto, 1fr);
        grid-template-areas:
            "title load"
            "main main";
        &_aligned {
            grid-template-areas:
                "title load"
                "main main"
                "extraMain extraMain";
        }

        &__action {
            margin-bottom: 10px;
        }

        &__file {
            margin-top: 12px;
            & + & {
                margin-top: 12px;
            }
        }

        &__snils {
            margin-top: 12px;
        }
    }

    @include md {
        font-size: 12px;
        grid-gap: 0 16px;
        min-height: 60px;
        line-height: 1.667;
        padding: 16px 0;

        &_acceptable {
            padding: 19px 0;
        }

        &__main-extra {
            .err-message {
                margin-top: 12px;
            }
        }

        &__action {
            margin-right: 20px;
        }

        &__title {
            &:hover {
                white-space: initial;
                grid-column: 1;
                overflow: visible;
            }
        }
    }
}
