@font-face {
    font-family: "Montserrat";
    src: url($fontsPath + "Montserrat-Regular.woff2") format("woff2"),
        url($fontsPath + "Montserrat-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url($fontsPath + "Montserrat-Bold.woff2") format("woff2"),
        url($fontsPath + "Montserrat-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url($fontsPath + "Montserrat-SemiBold.woff2") format("woff2"),
        url($fontsPath + "Montserrat-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mazzard L";
    src: url($fontsPath + "MazzardL-SemiBold.woff2") format("woff2"),
        url($fontsPath + "MazzardL-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

$titleFont: "Mazzard L", sans-serif;
