.payments {
    &__description {
        margin-bottom: 40px;
        max-width: 860px;
    }

    &__select {
        max-width: 280px;
        margin-bottom: 43px;
    }

    @include lg {
        &__select {
            margin-bottom: 80px;
        }
    }

    @include md {
        &__select {
            max-width: 50%;
            margin-bottom: 24px;
        }
        &__description {
            margin-bottom: 24px;
            max-width: 860px;
        }
    }

    @include sm {
        &__select {
            max-width: 100%;
        }
    }
}
