.table {
    width: 100%;
    table-layout: fixed;
    position: relative;
    margin-bottom: 24px;

    &__cell {
        padding-left: 24px;
        padding-right: 24px;
        border-bottom: 1px solid #d3d3d3;
        &:first-child {
            padding-left: 0;
        }
        &_status {
            padding-right: 0;
            width: 20%;
            text-align: right;
        }
        &_head {
            text-align: left;
            padding-bottom: 16px;
            margin-bottom: 12px;

            &:first-child {
                width: 33.33%;
            }
        }
    }

    &__title {
        @extend .cutted-text;
        width: 100%;
    }

    &__cell {
        height: 88px;
        &:first-child {
            position: relative;
            &:hover {
                position: absolute;
                max-width: 50%;
                min-width: 33.33%;
                display: flex;
                align-items: center;
                background-color: #fff;

                .table__title {
                    white-space: initial;
                }
            }
        }
    }

    &__summary {
        font-weight: 600;
        td {
            border-bottom: none;
        }
    }

    @include lg {
        display: block;
        margin-bottom: 20px;
        tbody {
            display: contents;
        }

        &__row {
            display: grid;
            grid-template-columns: 1fr auto;
            grid-auto-rows: auto;
            grid-gap: 0 24px;
            padding-bottom: 16px;
            margin-bottom: 23px;
            border-bottom: 1px solid #d3d3d3;

            &:nth-child(2) {
                border-top: 1px solid #d3d3d3;
                padding-top: 32px;
            }
        }

        &__cell {
            border-bottom: none;
            display: grid;
            grid-template-columns: 120px 1fr;
            grid-gap: 0 60px;
            padding: 0;
            height: auto;
            margin-bottom: 16px;

            &:first-child:hover {
                position: static;
                max-width: initial;
                min-width: 0;
                display: grid;
                align-items: start;
            }

            &_status {
                display: block;
                justify-content: end;
                width: 100%;
                margin-bottom: 0;
                grid-area: btn;
                justify-self: end;
                grid-row: -1/10;
                grid-column: 2 / -1;
            }

            &_summary {
                display: block;
            }
        }

        &__title {
            white-space: initial;
            overflow: visible;
        }

        &__summary {
            display: grid;
            grid-template-columns: 1fr 1fr;

            td:first-child {
                grid-row: 1 / span 10;
            }
        }
    }

    @include md {
        &__cell {
            margin-bottom: 12px;
            grid-gap: 0 24px;
            grid-template-columns: 90px auto;
            &_status {
                margin-bottom: 0;
            }
        }
    }

    @include sm {
        &__row {
            display: block;
            padding-bottom: 24px;
        }

        &__cell {
            &_status {
                display: flex;
                flex-direction: column;
                text-align: left;
            }
        }
    }
}
